.custom-modal .ant-modal-wrap {
  overflow: hidden !important;
}

.custom-modal .ant-modal {
  top: 20px;
  padding-bottom: 20px;
}

.custom-modal .ant-modal-content {
  max-height: calc(100vh - 40px);
  overflow: auto;
} 